* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: #f9f9f9;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  font-size: inherit;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}

select {
  appearance: none;
  border: none;
  background: inherit;
}
