.right {
  max-width: 663px;
  background-image: url(../../assets/img/SignUp/background.png);
  padding: 200px 30px 0;
}
.all {
  display: flex;
}
.title {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  font-family: Manrope, sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 110%;
}
.text {
  max-width: 500px;
  color: #fff;
  text-align: center;
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.2px;
  margin: 0 auto;
}
