.dishes {
  padding: 120px 0 0;
  &__container {
    border-bottom: 1px solid #cbcbcb;
    padding-bottom: 85px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin: 0 auto 65px;
    font-size: 35px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 65px;
  }
  &__span {
    color: #6c5fbc;
  }
  &__link {
    color: #acadb9;
    font-size: 20px;
    font-weight: 500;
    line-height: 45.184px;
    letter-spacing: -0.1px;
  }
  &__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
