.btn {
  padding: 10px 12px;
  display: flex;
  align-items: center;
  border: none;
  background: rgb(219, 217, 238);
  border-radius: 1000px;

  &:hover {
    background-color: rgb(181, 174, 239);
  }
}
