.card {
  width: 395px;
  border-radius: 30px;
  border: 1.251px solid #f4f4f6;
  overflow: hidden;
  background: #fff;
  box-shadow: 6px 71.348px 35.674px 0px rgba(229, 229, 229, 0.7);

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__top {
    height: 176px;
    background: #323142;
  }

  &__img {
    width: 395px;
    height: 176px;
    object-position: center;
    object-fit: cover;
  }

  &__name {
    color: #323142;
    font-size: 25.786px;
    font-style: normal;
    font-weight: 600;
    line-height: 41.903px; /* 162.5% */
  }

  &__text {
    color: #8e97a6;
    font-family: Manrope;
    font-size: 19.34px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.786px;
    width: 72.524px;
    height: 25.786px;
  }
  &__bottom {
    margin-top: 10px;
    padding: 0 27px 18px 30px;
  }

  &__rating {
    display: flex;
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__characteristic {
    display: flex;
  }
}
