.section {
  &__title {
    color: #323142;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 25.558px; /* 56.797% */
    &_purple {
      color: #6c5fbc;
    }
  }
  &__content {
    display: flex;
  }
}
