.section {
  &__container {
    border-bottom: 1px solid #cbcbcb;
    padding-bottom: 85px;
  }
  &__title {
    color: #323142;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    &_purple {
      color: #6c5fbc;
    }
  }
  &__content {
    display: flex;
    gap: 30px;
    margin-top: 85px;
    flex-wrap: wrap;
  }
  &__restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 0;
  }
  &__link {
    color: #acadb9;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
  }
  &__subContent {
    width: 100%;
    text-align: right;
    margin-top: 60px;
  }
}
