.button {
  border-radius: 15px;
  &_fill {
    color: #fff;
    background: #6c5fbc;
  }
  &_empty {
    color: #6c5fbc;
    background: #f9f9f9;
  }
  &_border {
    border: 1px solid #6c5fbc;
  }

  &_radiusLeft {
    border-radius: 10px 0px 0px 10px;
  }
  &_radiusRight {
    border-radius: 0px 10px 10px 0px;
  }

  &_small {
    padding: 12px 19px;
    font-size: 18px;
  }

  &_middle {
    padding: 13px 96px;
  }

  &_big {
    padding: 13px 101px;
  }
}
