.customer {
  margin-bottom: 185px;
  &__title {
    text-align: center;
    color: #323142;
    font-size: 45px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 80px;
    span {
      color: #6c5fbc;
      font-size: 45px;
      font-weight: 600;
      line-height: 25px;
    }
  }
  &__review {
    article {
      box-shadow: 0px 0px 90px 0px rgba($color: #696874, $alpha: 0.2);
    }
    height: 346px;
    display: flex;
    flex-direction: column;
    article {
      height: 100%;
    }
  }
  &__reviews {
    display: flex;
    gap: 46px;
    &Scroll {
      box-shadow: 0px 0px 20px 0px rgba($color: #696874, $alpha: 0.05);
      article {
        box-shadow: 0px 0px 90px 0px rgba($color: #696874, $alpha: 0.1);
      }
      margin-bottom: 10px;
      gap: 46px;
      display: flex;
      overflow-x: scroll;
      scrollbar-width: thin;
      scrollbar-color: #6c5fbc #b7b2d3;
    }
  }
}

@media (max-width: 1150px) {
  .customer {
    &__review {
      margin: 0 auto;
      max-width: 520px;
    }
    &__reviews {
      &Scroll {
        width: 520px;
        article {
          max-width: 390px;
          height: 300px;
        }
      }
    }
  }
}
@media (max-width: 995px) {
  .customer {
    // &review {
    //   margin: 0 auto;
    // }
    &__reviews {
      &Scroll {
        padding-bottom: 20px;
        width: 530px;
        margin: 0 auto;
        article {
          height: 300px;
        }
      }
      flex-direction: column;
    }
  }
}
@media (max-width: 570px) {
  .customer {
    &__reviews {
      gap: 150px;
      article {
        font-size: 18px;
        width: 370px;
        height: 470px;
      }
      &Scroll {
        width: 370px;
        article {
          height: 300px;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .customer {
    h2 {
      line-height: 40px;
      margin-bottom: 30px;
    }

    &__reviews {
      gap: 190px;
      article {
        width: 310px;
        height: 510px;
      }
      &Scroll {
        width: 310px;
        article {
          height: 370px;
        }
      }
    }
  }
}
