.section{
    &__title{
        color: #323142;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Poppins;
        font-size: 45px;
        font-style: normal;
        font-weight: 600;
        line-height: 25.558px; /* 56.797% */
        &__name{
            color: #6C5FBC;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Poppins;
            font-size: 45px;
            font-style: normal;
            font-weight: 600;
            line-height: 25.558px;
        }
    }
    
}