.menu {
  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
  }

  &__input {
    width: 757px;
    height: 75px;
    fill: #ededed;
    margin-top: 65px;
  }
  &__sliderLines {
    width: 136px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  &__sliderLine {
    width: 30px;
    height: 5px;
    background-color: #dbd9ee;
    border-radius: 4px;
    &_purple {
      background-color: #6c5fbc;
      height: 5px;
      width: 60px;
      border-radius: 4px;
    }
  }
  &__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__image {
    object-fit: cover;
    object-position: center;
    width: 758px;
    height: 308px;
  }
}
