.input {
  padding: 25px 25px 25px 70px;
  border-radius: 14.275px;
  background: #f5f5f5;
  border: none;
  color: #c2c3cb;
  font-family: Poppins;
  font-size: 16.676px;
  font-weight: 600;
  letter-spacing: 1.167px;
  text-transform: uppercase;
  width: 383px;
}
.inputWrapper{
  position: relative;
}
.img{
  position: absolute;
  left: 25px;
  top: 35%;
}